*, *::before, *::after {
    box-sizing: border-box;
    /* border: red solid 1px; */
    margin: 0;
}

html, body {
/*Display stuff*/
    display: flex;
    flex-direction: column;
/*Box model stuff*/
    margin: 0;    
    padding: 0;
/*Typography stuff*/
    font-family: 'Press Start 2P', cursive;
    color:#fff;
/*Miscellaneous*/
    overflow: hidden;
  }

/* Backgrounds */

body {
/*Display stuff*/
    display: flex;
    flex-direction: row;
/*Box model stuff*/
    height: 100vh;
    margin: 0;
  }
  
.left,
.right,
.center {
    height: 100%;
}

  .left, .right {
/*Display stuff*/
    flex-grow: 0;
/*Box model stuff*/
    width: 0;
    margin-top: 0;
    background-clip: content-box;
    background-image: url('images/background-left1-1.png');
    background-repeat: repeat-x;
/*Manipulations stuff*/
    animation: background-animation-sides 1s infinite;
/*Miscellaneous*/
    box-sizing: border-box;
  }
  
  .left {
/*Box model stuff*/
    background-position: right center;
    background-size: 28px 100vh;
  }
  
  .right {
/*Box model stuff*/
    background-position: left center;
    background-size: 28px 100%;
/*Miscellaneous*/
    overflow-x: hidden  }
  
  .center {
/*Display stuff*/
    display: flex;
    flex-direction: column;
/*Box model stuff*/
    width: 100%;
    background-image: url('images/background-center1-1.png');
    background-repeat: repeat-x;
    background-size: 28px 100%;
/*Manipulations stuff*/
    animation: background-animation-center 1s infinite;
  }

main {
/*Display stuff*/
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.character-card {
/*Positioning stuff*/
    position: relative;
/*Box model stuff*/
    width: 40vw;
    max-width: 230px;
    height:30vh;
    margin-top: 2vh;
    padding: 1vh 1vw;
    border: 0.08rem solid #000721;
    border-radius: 14px;
    background: #231d24;
/*Typography stuff*/
    font-size: 1.6rem;
    text-align: center;
    color: white;
/*Miscellaneous*/
    box-shadow: inset 0px 0px 6px 2px rgba(100,100,100,0.2),                0px 0px 10px rgba(117,182,214,0.2);
}

#hero {
  margin-top: 10vh;
}

.name {
/*Box model stuff*/
    width:100%;
/*Typography stuff*/
    font-size: 80%;
    text-align: center;
/*Miscellaneous*/
    letter-spacing: 0.08em;
}

.avatar {
/*Box model stuff*/
    width: 12vh;
    max-width:100%;
    border: 2px solid #000721;
    border-radius: 10px;
    background-color: rgba(0, 7, 33, 0.8);
/*Manipulations stuff*/
    opacity: 0.8;
}

.health {
/*Box model stuff*/
    margin: 2vh 0;
    margin-left: 5%;
/*Typography stuff*/
    font-size:40%;
    font-weight: normal;
    text-align: left;
    color:#ccc;
/*Miscellaneous*/
    letter-spacing: 0.03em}

.health b {
    font-weight: bold;
    color:#fff;
}

.health-bar-outer {
/*Box model stuff*/
    width:90%;
    height: 1vh;
    margin: 2vh 5%;
    border-radius: 2px;
    background: #171217;
}

.health-bar-outer .health-bar-inner {
    background:  #00FF00;
    height: 100%;
    border-radius: 2px;
}

.health-bar-outer .danger1 {
    background: #81FF00;
}

.health-bar-outer .danger2 {
  background: #FCFD03;
}

.health-bar-outer .danger3 {
  background: #FF8100;
}

.health-bar-outer .danger4 {
  background:#FF0000;
}

.dice-container {
/*Display stuff*/
    display: flex;
    align-items: center;
    justify-content: center;
/*Positioning stuff*/
    position: absolute;
    left:0px;
    right:0;
    bottom:0;
/*Box model stuff*/
    width:100%;
    height: 20%;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    background: #000721;
/*Miscellaneous*/
    gap: .5rem;
}

.dice, .placeholder-dice{
/*Box model stuff*/
    width:5.5vh;
    height:5.5vh;
    border:1px solid #666;
    border-radius: 5px;
    background: #fff;   
/*Typography stuff*/
    text-align: center;
    color:#000721;
/*Miscellaneous*/
    line-height: 6vh;
}

.dice-container .placeholder-dice{
    background-color: transparent;
}

button {
/*Display stuff*/
  display: inline-block;
/*Box model stuff*/
  width: 40vh;
  max-width: 360px;
  height: 9vh;
  margin: 0.5rem auto;
  padding-left:5vw;
  padding-right:5vw;
  border: 2px solid #963404;
  border-radius: 6px;
  background-color: #fcc02a;
/*Typography stuff*/
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5em;
  text-decoration: none;
  color:#963404;
/*Miscellaneous*/
  cursor: pointer;
  box-shadow: 0px 6px 10px -4px rgba(0,0,0,0.4);
}

#play-again-button {
  font-size: 1.2em;
  padding: 2vh 0;
}

.end-game{
/*Box model stuff*/
    margin-bottom: auto;
    margin-top: 10em;
/*Typography stuff*/
    font-size: 0.8em;
    text-align: center;
/*Miscellaneous*/
    letter-spacing: 0.05em;
    line-height: 1.5;
}

.end-emoji{
    font-size: 5rem;
}

.hidden {
  display: none;
}

/* Media queries */

@media (min-width: 768px) {
  .dice, .placeholder-dice{
    height: 5.5vh;
    width: 5.5vh;
  }
  
  .health {
    font-size: 0.67em;
  }
}

@media (min-width: 1024px) {
  main {
    justify-content: center;
    flex-direction: row;
    gap: 5vh;
  }

  .character-card {
    height: 55vh;
    margin-bottom: 5vh;
    margin-top: 15vh;
    width: 20vw;
    max-width: 345px;
  }

  .name {
    font-size: 1.2em;
    margin: 1rem;
  }

  .health-bar-outer {
    margin: 3vh 5%;
  }

  .avatar {
    width: 70%;
  }

  .dice, .placeholder-dice{
    height: 5.5vh;
    width: 5.5vh;
  }

  #hero,
  #monster {
    margin-top: unset;
  }

  button {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16vh;
  }
  .end-game {
    letter-spacing: 0.05em;
    font-size: 1em;
    margin-top: 10em;
  }
  #play-again-button {
    padding: 0;
  }
}

@media (min-width: 1366px) {
  .center {
    width: 1008px;
  }    

  .left, .right {
    min-width: 180px;
    flex-grow: 1;
  }

  .dice, .placeholder-dice{
    height: 8vh;
    width: 8vh;
  }

  .health {
    font-size: 0.8em;
  }
  }

  @media (min-width: 1704px) {
    .center {
      width: 1344px
    }
  }

/* Animations */

#peach1,
#peach2 {
  width: 50vw;
  height: 50vh;
  transform: scale(33%);
  position: absolute;
  background: url("images/peach1.png") no-repeat;
  background-size: contain;
  background-position: bottom;
  overflow: hidden;
}

@keyframes background-animation-sides {
  0% {
    background-image: url('images/background-left1-1.png');
  }
  50% {
      background-image: url('images/background-left1-2.png');
  }
  100% {
      background-image: url('images/background-left1-1.png');
  }
}

@keyframes background-animation-center {
  0% {
    background-image: url('images/background-center1-1.png');
  }
  50% {
    background-image: url('images/background-center1-2.png');
  }
  100% {
      background-image: url('images/background-center1-1.png');
  }
}